.green-dark
{
    ---base: #000;
    ---neutral-variant60: #938F99;
    ---on-surface-variant-2: linear-gradient(0deg, rgba(196, 200, 187, .08), rgba(196, 200, 187, .08));
    ---on-surface-variant-4: linear-gradient(0deg, rgba(196, 200, 187, .12), rgba(196, 200, 187, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(227, 227, 220, .08), rgba(227, 227, 220, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(227, 227, 220, .12), rgba(227, 227, 220, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #e3e3dc;
    ---background: #1a1c18;
    ---on-surface: #e3e3dc;
    ---on-surface-variant: #c4c8bb;
    ---surface-0: #1a1c18;
    ---surface-variant: #43493e;
    ---surface-1: #232820;
    ---surface-2: #272e23;
    ---surface-3: #2b3326;
    ---surface-4: #2c3527;
    ---surface-5: #2f3929;
    ---inverse-surface: #f1f1ea;
    ---inverse-on-surface: #2f312c;
    ---primary: #9cd67d;
    ---primary-80: #9cd67d;
    ---primary-30: #205107;
    ---primary-20: #0c3900;
    ---neutral-10: #1a1c18;
    ---neutral-90: #e3e3dc;
    ---on-primary: #0c3900;
    ---primary-container: #205107;
    ---on-primary-container: #b8f397;
    ---secondary: #bdcbb0;
    ---on-secondary: #273420;
    ---secondary-container: #3e4a36;
    ---on-secondary-container: #d9e7cb;
    ---tertiary-container: #1e4e4e;
    ---on-tertiary-container: #bbebeb;
    ---utility-error: #ffb4a9;
    ---utility-on-error: #680003;
    ---utility-outline: #8d9286;


}

.green-light
{
    ---base: #fff;
    ---neutral-variant60: #79747E;
    ---on-surface-variant-2: rgba(67, 73, 62, .08);
    ---on-surface-variant-4: linear-gradient(0deg, rgba(67, 73, 62, .12), rgba(67, 73, 62, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(26, 28, 24, .08), rgba(26, 28, 24, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(26, 28, 24, .12), rgba(26, 28, 24, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #1a1c18;
    ---background: #fdfdf6;
    ---on-surface: #1a1c18;
    ---on-surface-variant: #43493e;
    ---surface-0: #fdfdf6;
    ---surface-variant: #dfe4d6;
    ---inverse-surface: #2f312c;
    ---inverse-on-surface: #f1f1ea;
    ---primary: #386a20;
    ---primary-80: #9cd67d;
    ---primary-30: #205107;
    ---primary-20: #0c3900;
    ---on-primary: #fff;
    ---primary-container: #b8f397;
    ---on-primary-container: #042100;
    ---secondary: #55624c;
    ---on-secondary: #fff;
    ---secondary-container: #d9e7cb;
    ---on-secondary-container: #131f0d;
    ---tertiary-container: #bbebeb;
    ---on-tertiary-container: #002021;
    ---utility-error: #ba1b1b;
    ---utility-on-error: #fff;
    ---utility-outline: #74796e;
    ---surface-1: #f0f3e8;
    ---surface-2: #ebefe2;
    ---surface-3: #e5eadc;
    ---surface-4: #e3e9da;
    ---surface-5: #dfe6d5;
    ---ref-secondary-200: #bdcbb0;
    ---ref-secondary-300: #a1b095;
    ---ref-neutral-100: #e3e3e3;
    ---ref-neutral-200: #c7c7c7;
}

.blue-dark
{
    ---base: #000;
    ---neutral-variant60: #938F99;
    ---on-surface-variant-2: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08));
    ---on-surface-variant-4: linear-gradient(0deg, rgba(196, 199, 197, .12), rgba(196, 199, 197, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(227, 227, 227, .08), rgba(227, 227, 227, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(227, 227, 227, .12), rgba(227, 227, 227, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #e3e3e3;
    ---background: #1f1f1f;
    ---on-surface: #e3e3e3;
    ---on-surface-variant: #c4c7c5;
    ---surface-0: #1f1f1f;
    ---surface-variant: #444746;
    ---inverse-surface: #e3e3e3;
    ---inverse-on-surface: #303030;
    ---surface-1: #28292a;
    ---surface-2: #2d2f31;
    ---surface-3: #333438;
    ---surface-4: #34363a;
    ---surface-5: #383a3e;
    ---primary: #a8c7fa;
    ---primary-80: #a8c7fa;
    ---primary-30: #0842a0;
    ---primary-20: #062e6f;
    ---neutral-10: #1f1f1f;
    ---neutral-90: #e3e3e3;
    ---on-primary: #062e6f;
    ---primary-container: #0842a0;
    ---on-primary-container: #d3e3fd;
    ---secondary: #7fcfff;
    ---on-secondary: #035;
    ---secondary-container: #004a77;
    ---on-secondary-container: #c2e7ff;
    ---tertiary-container: #0f5223;
    ---on-tertiary-container: #c4eed0;
    ---utility-error: #f2b8b5;
    ---utility-on-error: #601410;
    ---utility-outline: #8e918f;
    ---extensions-do-container: #b4e5f2;
    ---extensions-on-do-container: #073550;
    ---extensions-dont-container: #f2b8b5;
    ---extensions-on-dont-container: #601410;
    ---extensions-caution-container: #e2e290;
    ---extensions-on-caution-container: #473e00;
    ---copy-link-tooltip: #f2f2f2;
    --elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

.blue-light
{
    ---base: #fff;
    ---neutral-variant60: #79747E;
    ---on-surface-variant-2: linear-gradient(0deg, rgba(68, 71, 70, .08), rgba(68, 71, 70, .08));
    ---on-surface-variant-4: linear-gradient(0deg, rgba(68, 71, 70, .12), rgba(68, 71, 70, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(31, 31, 31, .08), rgba(31, 31, 31, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(31, 31, 31, .12), rgba(31, 31, 31, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #1f1f1f;
    ---background: #fff;
    ---on-surface: #1f1f1f;
    ---on-surface-variant: #444746;
    ---surface-0: #fff;
    ---surface-variant: #e1e3e1;
    ---inverse-surface: #303030;
    ---inverse-on-surface: #f2f2f2;
    ---primary: #0b57d0;
    ---primary-80: #a8c7fa;
    ---primary-30: #0842a0;
    ---primary-20: #062e6f;
    ---on-primary: #fff;
    ---neutral-10: #1f1f1f;
    ---neutral-90: #dfe2ed;
    ---primary-container: #d3e3fd;
    ---on-primary-container: #041e49;
    ---secondary: #00639b;
    ---on-secondary: #fff;
    ---secondary-container: #c2e7ff;
    ---on-secondary-container: #001d35;
    ---tertiary-container: #c4eed0;
    ---on-tertiary-container: #072711;
    ---utility-error: #b3261e;
    ---utility-on-error: #fff;
    ---utility-outline: #747775;
    ---surface-1: #f8fafd;
    ---surface-2: #f3f6fc;
    ---surface-3: #eff3fa;
    ---surface-4: #edf2fa;
    ---surface-5: #eaf0f9;
    ---extensions-do-container: #085786;
    ---extensions-on-do-container: #fff;
    ---extensions-dont-container: #b3261e;
    ---extensions-on-dont-container: #fff;
    ---extensions-caution-container: #e8e971;
    ---extensions-on-caution-container: #1f1f1f;
    ---ref-secondary-200: #7fcfff;
    ---ref-secondary-300: #5ab3f0;
    ---ref-neutral-100: #e3e3e3;
    ---ref-neutral-200: #c7c7c7;
    ---scrim-video-container: rgb(31 31 31 / 64%);
    ---scrim-video-control: rgb(255 255 255 / 12%);
    ---scrim-video-control-pressed: rgb(255 255 255 / 24%);
    ---copy-link-tooltip: #f2f2f2;
    --elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

.red-dark
{
    ---base: #000;
    ---neutral-variant60: #938F99;
    ---on-surface-variant-2: linear-gradient(0deg, rgba(215, 194, 193, .08), rgba(215, 194, 193, .08));
    ---on-surface-variant-4: linear-gradient(0deg, rgba(215, 194, 193, .12), rgba(215, 194, 193, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(237, 224, 223, .08), rgba(237, 224, 223, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(237, 224, 223, .12), rgba(237, 224, 223, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #ede0df;
    ---background: #211a1a;
    ---on-surface: #ede0df;
    ---on-surface-variant: #d7c2c1;
    ---surface-0: #211a1a;
    ---surface-variant: #534343;
    ---surface-1: #2f2525;
    ---surface-2: #362929;
    ---surface-3: #3c2e2e;
    ---surface-4: #3e2f2f;
    ---surface-5: #433232;
    ---inverse-surface: #362f2f;
    ---inverse-on-surface: #fbeeed;
    ---primary: #ffb3b5;
    ---primary-80: #ffb3b5;
    ---primary-30: #7d2a30;
    ---primary-20: #5f121b;
    ---neutral-10: #211a1a;
    ---neutral-90: #ede0df;
    ---on-primary: #5f121b;
    ---primary-container: #7d2a30;
    ---on-primary-container: #ffdadb;
    ---secondary: #e6bcbc;
    ---on-secondary: #442929;
    ---secondary-container: #5c3f3f;
    ---on-secondary-container: #ffdad9;
    ---tertiary-container: #5b4219;
    ---on-tertiary-container: #fda;
    ---utility-error: #ffb4a9;
    ---utility-on-error: #680003;
    ---utility-outline: #a08c8c;
}

.red-light
{
    ---base: #fff;
    ---neutral-variant60: #79747E;
    ---on-surface-variant-2: linear-gradient(0deg, rgba(83, 67, 67, .08), rgba(83, 67, 67, .08));
    ---on-surface-variant-4: linear-gradient(0deg, rgba(83, 67, 67, .12), rgba(83, 67, 67, .12));
    ---on-surface-2: linear-gradient(0deg, rgba(33, 26, 26, .08), rgba(33, 26, 26, .08)), var(---secondary-container);
    ---on-surface-4: linear-gradient(0deg, rgba(33, 26, 26, .12), rgba(33, 26, 26, .12)), var(---secondary-container);
    ---white: #fff;
    ---on-background: #211a1a;
    ---background: #fcfcfc;
    ---on-surface: #211a1a;
    ---on-surface-variant: #534343;
    ---surface-0: #fcfcfc;
    ---surface-variant: #f4dedd;
    ---inverse-surface: #362f2f;
    ---inverse-on-surface: #fbeeed;
    ---primary: #9c4146;
    ---primary-80: #ffb3b5;
    ---primary-30: #7d2a30;
    ---primary-20: #5f121b;
    ---on-primary: #fff;
    ---primary-container: #ffdadb;
    ---on-primary-container: #400008;
    ---secondary: #765656;
    ---on-secondary: #fff;
    ---secondary-container: #ffdad9;
    ---on-secondary-container: #2d1516;
    ---tertiary-container: #fda;
    ---on-tertiary-container: #281800;
    ---utility-error: #ba1b1b;
    ---utility-on-error: #fff;
    ---utility-outline: #857373;
    ---surface-1: #f5f0f0;
    ---surface-2: #f3eaeb;
    ---surface-3: #f0e5e5;
    ---surface-4: #efe3e4;
    ---surface-5: #eddfe0;
    ---ref-secondary-200: #e6bcbc;
    ---ref-secondary-300: #c9a1a1;
    ---ref-neutral-100: #e3e3e3;
    ---ref-neutral-200: #c7c7c7;
}